.message {
  padding: 0 50px;
}

.message h3 {
  margin: 0;
  padding: 15px 0;
}

.body-bubble {
  background-color: #ffeee6;
  width: 30%;
  padding: 10px 30px;
  border-radius: 20%;
}

.body-bubble p {
  text-align: center;
}

.right .body-bubble {
  float: right;
}
